
ul{
  list-style: none;
  overflow: hidden;
  background-color: white;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
li{
  float: left;
  
}
li a{
  display: block;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
li a:hover{
  background-color:black;
  color: white;
}
#homepageimage{
  height: 500px;
  width: 1000px;
  /* float:right;
  overflow: hidden; */
}
#logo{
  margin-right: 10px;
}
.column{
  float:left;
  padding: 150;
  
}
.row{
  margin-left: 75px;
  margin-right: 75px;
  font-size: large;
}